*{
    border: 1px solid black;
    border-radius: 10px;
}
h1,h2,h3,h4{
    text-align: center;
    border: 0;
}
body{
    border: 0;
    height: 100vh;
    width: 97%;
    display:grid;
    grid-template-areas:
        'header'
        'nav'
        'main'
        'footer';
    grid-template-rows: 1.5fr 0.5fr 6fr 2fr;
    gap: 10px;
    padding: 10px;

}
header{
    grid-area: header;
    background-color: lightgray;
}
nav{
    grid-area: nav;
    background-color: lightyellow;
}
main{
    grid-area: main;
    border:0;
    display: grid;
    grid-template-areas:
        'section aside'
        'article aside';
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}
section{
    grid-area: section;
    background-color: lightblue;
}
article{
    grid-area: article;
    background-color: lightcoral;
}
aside{
    grid-area: aside;
    background-color: lightgreen;
}
footer{
    grid-area: footer;
    background-color: lightgray;
}