*{
    border: 1px solid black;
}

body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

header {
    border : 2px solid blue;
    background-color: lightblue;
    
}

main {
    border: 2px solid red;
    background-color: lightcoral;
}

aside {
    border: 2px solid orange;
    background-color: lightyellow;
}

#articulo1-subtitulo {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(93, 17, 233);
}

#articulo1-comentarios {
    border: 1px solid pink;
    background-color: rgb(255, 6, 43);
}

#lista-articulos {
    border: 1px solid rgb(9, 252, 21);
    background-color: rgb(9, 252, 21);
}

footer {
    border: 2px solid green;
    background-color: lightgreen;
}
