body{ 
    background-color: lightgray;
}
* {
    border: 1px solid black;
}

header {
    border: 2px solid blue;
    background-color: lightblue;
    padding: auto;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
header nav {
    width: 30%;
    margin-right: 20%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav ul li {
    margin: 0 10px;
    text-align: center;
}
#banner-derecho {
    border: 2px solid orange;
    background-color: lightyellow;
    height: 100vh;
    float: right;
    position: relative;
}
#banner-izquierdo {
    border: 2px solid orange;
    background-color: lightyellow;
    height: 100vh;
    float: left;
    position: relative;
}
main {
    border: 2px solid red;
    background-color: lightcoral;
    padding: auto;
    margin: auto;
    width: 80%;
}
footer {
    border: 2px solid green;
    background-color: lightgreen;
    padding: auto;
    margin: auto;
    width: 80%;
}

