*{
    border: 1px solid black;
    box-sizing: border-box;
}
body{
    margin: auto;
    padding: 5px;
    border:0;
    width: 98%;
    height: 100%;
}
header{
    background-color: #f50000;
    padding: 10px;
    text-align: center;
    border: 2px solid yellow;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    display: inline-block;
    justify-content: center;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}
h1,h2,h3,h4,p{
    text-align: center;
    border: 0;
}
nav{
    border: 0;
    display: inline-block;
}
nav li{
    display: inline-block;
    padding: 0;
}
main{
    border:1px solid black;
    border-radius: 10px;
}
#Productos{
    border:0;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.producto{
    width: 250px;
    height: 370px;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}
.producto:hover{
    box-shadow: 5px 5px 25px rgba(250, 31, 2, 0.8);
    transition: box-shadow 0.3s ease-in-out;


}

button{
    background-color: #f50000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: auto;
    cursor: pointer;
}
img{
    width: 95%;
    height: 250px;
    border-radius: 15px 15px 0 0;
    border:0
}

.flotar_izquierda{
    float: left;
}
.flotar_derecha{
    float: left;
}
.restaura{
    clear: both;
    border:0;
}
footer{
    background-color: #f50000;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border-color: yellow;
}
footer p{
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0;
}